<!DOCTYPE html>
<html lang="{{ lang }}">
    <head>
      <!-- Google Analytics tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-BFM54NSSW0"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-BFM54NSSW0');
      </script>

      <meta http-equiv="content-type" content="text/html; charset=utf-8">

      <!-- Enable responsiveness on mobile devices-->
      <!-- viewport-fit=cover is to support iPhone X rounded corners and notch in landscape-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">

      <title>{% block title %}{{ config.title }}{% endblock title %}</title>
      <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

      <!-- Swup for fancy page transitions -->
      <script src="{{ get_url(path="swup.umd.js", trailing_slash=false) }}"></script>
      <script>
        const swup = new Swup();
      </script>

      <!-- CSS -->
      <link rel="stylesheet" href="{{ get_url(path="poole.css", trailing_slash=false) }}">
      <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
      {% if config.generate_feeds %}
        {% for feed in config.feed_filenames %}
          <link rel="alternate" type={% if feed == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=feed) | safe }}">
        {% endfor %}
      {% endif %}

      {% block extra_head %}
      {% endblock extra_head %}
    </head>

    <body>

      <div id="swup">
        {% block content %}
        {% endblock content %}
      </div>
    </body>

</html>