{% extends "base.html" %}

{% block title %}{{ section.title }} | {{ config.title }}{% endblock title %}

{% block content %}
<div class="home-page">
  <div class="home-inner">
    <div class="posts-grid">
      {% for page in section.pages %}
      <a class="post-card" href="{{ page.permalink }}">
        <img class="post-card-image" src="{{ page.extra.headerimage }}" alt="{{ page.title }}">
        <div class="post-card-info">
          <h3>{{ page.title }}</h3>
          <small>{{ page.description }}</small>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
