{% macro defaultSidebar() %}
<div class="sidebar">
    <div class="container {% if config.extra.hyde_sticky %}sidebar-sticky{% endif %}">
        <div class="sidebar-about">
            <div class="siteTitle">
                <a href="{{ config.base_url }}">{{ config.title }}</a>
                <img src="/images/arrow.svg" style="width: 0; min-width: 100%;">
            </div>
            {% if config.description %}
            <p>{{config.description}}</p>
            {% endif %}
        </div>

        <ul class="sidebar-nav">
            {% for link in config.extra.hyde_links %}
                <li class={% if current_path and current_path == link.url %}"sidebar-nav-item-selected"{% else %}"sidebar-nav-item"{% endif %}>
                    <a href="{{link.url}}">{{link.name}}</a>
                </li>
            {% endfor %}
            <div class="sidebarLinkIconGroup">
                <a href="https://twitter.com/D_Nocker"><img class="sidebarLinkIcon" src="/images/twitter.svg"></a>
                <a href="https://github.com/norkskargrot"><img class="sidebarLinkIcon" src="/images/github.svg"></a>
                <a href="https://www.linkedin.com/in/nicdocker/"><img class="sidebarLinkIcon" src="/images/linkedin.svg"></a>
            </div>
        </ul>
    </div>
</div>
{% endmacro defaultSidebar %}

{% macro smallSidebar() %}
<div class="sidebarsmall">
    <div class="sidebarsmall-inner">
        <a href="{{ config.base_url }}">
            <img class="sidebarsmall-menu-icon" src="/images/menu.svg">
            <div class="siteTitle">
                <a href="{{ config.base_url }}">{{ config.title }}</a>
                <img class="siteTitle-arrow" src="/images/arrow.svg">
            </div>
        </a>
    </div>
</div>
{% endmacro smallSidebar %}